body {
  font-family: "Roboto", sans-serif;
  background-color: #040348;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

// Media Queries
@media (max-width: 1000px) {
  .container {
    padding: 0 3rem;
  }
}
