.results{
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    &__header{
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

        img{
            width: 6rem;
            border-radius: 100%;
        }

        .name{
            position: relative;
            margin-left: 1rem;

            h1{
                color: $primary-color;
                font-weight: lighter;
                margin-right: 2rem;
            }

            #partner-badge{
                width: 2rem;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &__live-status{
        grid-column: 1 / 2;
        animation-name: slide-up;
        animation-duration: .7s;

        .live-card{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: $gray;
            padding: 2rem;
            row-gap: 2rem;
            transition: all 300ms ease-in-out;
            border-radius: 1rem;

            h2{
                grid-column: 1 / 3;
                font-size: 2.5rem;
                font-weight: normal;
                text-align: center;
                color: $dark-background;
            }

            p{
                font-size: 1.4rem;
                font-weight: bold;
                color: $dark-background;
            }

            p:nth-of-type(2){
                text-align: right;
            }

            a{
                grid-column: 1 / 3;
                text-align: center;
                width: 30%;
                margin: 0 auto;
                padding: 1rem 0;
                border-radius: .5rem;
                font-size: 1.5rem;
                text-decoration: none;
                color: $gray;
                background-color: red;
                border: 1px solid red;
                transition: all 150ms ease-in-out;
            }

            a:hover{
                transform: scale(1.04);
            }
        }

        p{
            font-size: 2rem;
            color: white;
            font-weight: normal;
        }
    }

    &__emotes{
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 2rem;
        animation-name: slide-up;
        animation-duration: .5s;
        
        .emotes-container{
            text-align: center;
            color: white;

            img{
                width: 7rem;
            }

        }

        p{
            grid-column: 1 / 5;
            font-size: 2rem;
            color: white;
            font-weight: normal;
            text-align: center;
        }

    }

    &__err-msg{
        color: white;
        font-size: 2.5rem;
        grid-column: 1 / 3;
        text-align: center;
        text-decoration: underline;
        animation-name: fade-in;
        animation-duration: 500ms;
    }
}

// Media Queries
@media (max-width: 798px){
    .results{
        grid-template-columns: 1fr;

        &__live-status{
            width: 50rem;
            margin: 0 auto 3rem;
        }

        &__emotes{
            grid-column: 1 / 2;
        }
    }
}

// Key Frames
@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}